<div>
    <div class="accessory-container">
        <div class="accessory-image-container">
            <img src="{{accessory.mainImageUrl}}" alt="accessory image">
        </div>
        <p>{{accessory.name}}</p>
        <p>{{accessory._id}}</p>
    </div>
</div>