                                    <div class="col-lg-4 col-md-6 col-12">
                                        <!-- Start Single Product -->
                                        <div class="single-product">
                                            <div class="product-image">
                                                <img src="{{mainImageUrl}}" alt="#">
                                                <span class="sale-tag">-25%</span>
                                                <div class="button">
                                                    <a href="/accessories/{{_id}}/accessoryDetails" class="btn">Детайли</a>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                               
                                                <ul class="review">
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><i class="lni lni-star-filled"></i></li>
                                                    <li><span>5.0 Review(s)</span></li>
                                                </ul>
                                                <div class="price">
                                                    <span>{{price}} лв.</span>
                                                    <span class="discount-price">{{price}} лв.</span>
                                                </div>

                                                
                                            </div>
                                        </div>
                                        <!-- End Single Product -->
                                    </div>