 <!-- Start Product Sidebar -->
                    <div class="product-sidebar">
                        <!-- Start Single Widget -->
                        <div class="single-widget search">
                            <h3>Search Product</h3>
                            <form action="#">
                                <input type="text" placeholder="Search Here...">
                                <button type="submit"><i class="lni lni-search-alt"></i></button>
                            </form>
                        </div>
                        <!-- End Single Widget -->
                        <!-- Start Single Widget -->
                        <div class="single-widget">
                            <h3>Категории</h3>
                            <ul class="list">
                                <li class="nav-item"><a href="/products/all">Всички</a></li>
                                            <li class="nav-item"><a href="/products/dolls">Кукли</a></li>
                                            <li class="nav-item"><a href="/products/animals">Животни</a></li>
                                            <li class="nav-item"><a href="/products/scarfs">Шалове</a></li>
                                            <li class="nav-item"><a href="/products/hats">Шапки</a></li>
                                            <li class="nav-item"><a href="/products/handbags">Чанти</a></li>
                                            <li class="nav-item"><a href="/products/bowls">Панери</a></li>
                                            <li class="nav-item"><a href="/products/carpets">Килими</a></li>
                                            <li class="nav-item"><a href="/accessories">Аксесоари</a></li>
                                            <li class="nav-item"><a href="/products/others">Други</a></li>
                            </ul>
                        </div>
                        
                    </div>
                    <!-- End Product Sidebar -->