<main>

    <!--====== Checkout Form Steps Part Start ======-->

    <section class="checkout-wrapper section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="checkout-steps-form-style-1">
                        <ul id="accordionExample">
                            <li>
                                <form action="/user/userdata" method="GET" class="checkout-steps-form-content collapse show" id="collapseThree"
                                    aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <h6 class="h6-payment-way-chackout-form">Вашите данни</h6>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Потребителско име</label>
                                                <div class="row">
                                                    <div class="col-md-6 form-input form">
                                                        <input name="name" type="text" placeholder="име">
                                                    </div>
                                                    <div class="col-md-6 form-input form">
                                                        <input name="surname" type="text" placeholder="фамилия">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Е-mail</label>
                                                <div class="form-input form">
                                                    <input name="email" type="text" placeholder="е-mail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="single-form form-default">
                                                <label>Телефон за контакт</label>
                                                <div class="form-input form">
                                                    <input name="phone" type="text" placeholder="телефон">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="single-form form-default">
                                                <label>Пълен адрес за доставка (или адрес на офис на куриерска
                                                    фирма)</label>
                                                <div class="form-input form">
                                                    <input name="address" type="text" placeholder="адрес">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <h6 class="h6-payment-way-chackout-form">Начин на плащане</h6>
                                            <div class="single-checkbox checkbox-style-3 payment-way-check-box">
                                                <input type="radio" id="cashOnDelivery" name="payment-method"
                                                    value="cashOnDelivery">
                                                <p>Наложен платеж</p>
                                            </div>
                                            <div class="single-checkbox checkbox-style-3 payment-way-check-box">
                                                <input type="radio" id="bankTransfer" name="payment-method" value="bankTransfer">
                                                <p>Банков превод: IBAN......</p>
                                            </div>
                                            <div class="single-checkbox checkbox-style-3 payment-way-check-box">
                                                <input type="radio" id="electronicWallet" name="payment-method" value="electronicWallet">
                                                <p>Електронен портфейл</p>
                                            </div>

                                            
                                        </div>
                                        </div>


                                        <div class="col-md-12">
                                            <div class="single-form button">
                                                <button type="submit" class="btn" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseFour" aria-expanded="false"
                                                    aria-controls="collapseFour">продължи</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!--====== Checkout Form Steps Part Ends ======-->

</main>