<main>


    <!-- Start Header Area -->
    {{>header}}
    <!-- End Header Area -->

    <!-- Start Hero Area -->

    <section class="hero-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12 custom-padding-right">
                    <div class="slider-head">
                        <!-- Start Hero Slider -->
                        <div class="hero-slider">
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url(https://media.istockphoto.com/photos/crochet-hook-and-wool-selective-focus-picture-id927603460?b=1&k=20&m=927603460&s=612x612&w=0&h=Hc55Soj06FMOm-uKq8CIuMly2TWd2hWchyuRSSe3hFU=);">
                                <div class="content">
                                    <h2><span>Някаки надиси тук</span>
                                        Заглавие или слоган
                                    </h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor
                                        incididunt ut
                                        labore dolore magna aliqua.</p>
                                    <h3><span>Now Only</span> $320.99</h3>
                                    <div class="button">
                                        <a href="product-grids.html" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                            <!-- Start Single Slider -->
                            <div class="single-slider"
                                style="background-image: url(https://i.etsystatic.com/17549839/r/il/8ec814/2484679778/il_fullxfull.2484679778_aa5q.jpg);">
                                <div class="content">
                                    <h2><span></span>
                                        Месец на играчките
                                    </h2>
                                    <p>Плюшените играчки развивак креативността на вашето дете по време на игра,
                                        успокояват по време на заспиване. Изработени са от хипоалергенни прежди,
                                        пълни
                                        са със силиконова вата. </p>
                                    <h3><span>Само сега:</span> -20%</h3>
                                    <div class="button">
                                        <a href="product-grids.html" class="btn">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Slider -->
                        </div>
                        <!-- End Hero Slider -->
                    </div>
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-12 md-custom-padding">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner"
                                style="background-image: url('https://www.almanac.com/sites/default/files/styles/landscape/public/image_nodes/crochet-primary-shutterstock_1435097990.jpg?itok=LGywb3SY');">
                                <div class="content">
                                    <h2>
                                        <span>New line required</span>
                                        iPhone 12 Pro Max
                                    </h2>
                                    <h3>$259.99</h3>
                                </div>
                            </div>
                            <!-- End Small Banner -->
                        </div>
                        <div class="col-lg-12 col-md-6 col-12">
                            <!-- Start Small Banner -->
                            <div class="hero-small-banner style2">
                                <div class="content">
                                    <h2>Седмична томбола</h2>
                                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit aliquam
                                        molestias
                                        iste maiores cupiditate fugiat, eius velit. Minus, architecto molestias!</p>
                                    <div class="button">
                                        <a class="btn" href="product-grids.html">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Start Small Banner -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Area -->

    <!-- Start Footer Area -->
{{>footer}}
</main>