<main>

    <!-- Start Main Menu Search -->
    <form action="/products" method="GET" class="search-page-container">
            <input name="category" class="search-page-input" type="text" placeholder="Search">
            <button class="search-page-btn"><i class="lni lni-search-alt"></i></button>
    </form>
    <!-- End Main Menu Search -->

   
</main>
