<main>

    {{>header}}
    <!-- Start Main Menu Search -->
    <form class="search-page-container">
            <input class="search-page-input" type="text" placeholder="Search">
            <button class="search-page-btn"><i class="lni lni-search-alt"></i></button>
    </form>
    <!-- End Main Menu Search -->

   
</main>

</html>