.header-nav{
    display: flex;
}

footer{
    margin-top: 3%;
    
}

.magnifying-glass{
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-right: 0.5em;
}
@media(min-width: 768px){
    .magnifying-glass{
        display: none;
    }
}