.header-nav{
    display: flex;
}

footer{
    margin-top: 3%;
    
}

.search-page-container{
    display: flex;
    padding-top: 5em;
    justify-content: center;
    align-items: center; 
}

.search-page-input{
    font-size: 1.5em;
    margin:0.5em;
    /* border: 0.5px solid #0a58ca;     */
}

.search-page-btn {
    font-size: 1.7em;
    font-weight: bold;
    }

    .search-page-btn{
        padding: 0 0.3em;
        color: white;
        background-color: #0167F3;
        border: none;
        border-radius: 0.1em;
    }

    .search-page-btn:hover{
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
    }


a .magnifying-glass{
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-right: 0.5em;
}

@media(min-width: 768px){
    .magnifying-glass{
        display: none;
    }
}