.header-nav{
    display: flex;
}

footer{
    margin-top: 3%;
    
}

.search-page-container{
    display: flex;
    padding-top: 5em;
    justify-content: center;
    align-items: center; 
}

.search-page-input{
    font-size: 1.5em;
    margin:0.5em;
    /* border: 0.5px solid #0a58ca;     */
}

.search-page-btn {
    font-size: 1.7em;
    font-weight: bold;
    }

    .search-page-btn{
        padding: 0 0.3em;
        color: white;
        background-color: #0167F3;
        border: none;
        border-radius: 0.1em;
    }

    .search-page-btn:hover{
        border-right: 1px solid gray;
        border-bottom: 1px solid gray;
    }


a .magnifying-glass{
    font-size: 1.3em;
    font-weight: bold;
    margin-top: 0.2em;
    margin-right: 0.5em;
}

body > main > div > div > div.row > div > div > div > div.col-lg-4.col-md-6.col-12 > div > div > a.btn.btn-alt{
    text-transform: none;
}

body > main > div > div > div.cart-list-head > div.cart-single-list > div > div.col-lg-1.col-md-2.col-12{
    display: flex;
    justify-content: center;
}

.checkout-steps-form-style-1 .form-default label{
    color: black;
    font-weight: bold;
}

.h6-payment-way-chackout-form{
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;
    color: #0167F3;
    margin-top: 1em;
}

.payment-way-check-box{
    font-weight: bold;
    color: black;
    opacity: none;
}

.create-form{
    margin: 2em
}

.create-form form{
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 1.5em;
    margin: 0.5em, auto;
}

.create-form form input {
    margin-top: 1em;
    margin-bottom: 1em;
}

.create-form form textarea {
    margin-top: 1em;
    margin-bottom: 1em;
}

.accessory-container{
    width: 50%;
}

.registration-Btn{
    padding: 0.7em;
border-radius: 0.4em;
border: none;
background-color: #0167F3;
color: white;
font-weight: bold;
}

@media(min-width: 768px){
    .magnifying-glass{
        display: none;  
    }

    .header .nav-social ul li a {
       
        border: none;
    }
}